:root {
  --bg: #161b0f;
  --fg: #949597;
  --blk: #161b0f;
  --red: #A36359;
  --grn: #6E8B32;
  --ylw: #758864;
  --blu: #959465;
  --mag: #7C7C82;
  --cyn: #96999B;
  --wht: #d4d6d8;
  --bblk: #949597;
  --bred: #A36359;
  --bgrn: #6E8B32;
  --bylw: #758864;
  --bblu: #959465;
  --bmag: #7C7C82;
  --bcyn: #96999B;
  --bwht: #d4d6d8;
} 
